/* index.css 또는 CarCarousel.css */
.slider-container {
  width: 100%;
  max-width: 1360px; /* 슬라이더 최대 너비 */
  align-content: center;
  justify-items: center;
  position: relative; /* 버튼이 슬라이더 안에 위치할 수 있도록 */
  height: 638px;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-img {
  width: 100%;
  height: 638px;
  object-fit: contain;
}

.car-img {
  height: 100%;
  border-radius: 10px;
}

.slick-prev,
.slick-next {
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px; /* 버튼 크기 조정 */
  height: 40px; /* 버튼 크기 조정 */
  z-index: 10; /* 버튼을 위로 띄우기 */
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
}

.slick-prev {
  left: 20px;
}

.slick-next {
  right: 20px;
}

.slick-next::before,
.slick-prev::before {
  font-size: 30px;
}

.slick-next:hover,
.slick-prev:hover {
  transform: translateY(-50%) scale(1.2); /* 크기 증가 */
}
