@font-face {
  font-family: 'line-seed';
  src: url('../../public/fonts/LINESeedKR/LINESeedKR-Th.woff2') format('woff2');
  font-weight: 100;
}
@font-face {
  font-family: 'line-seed';
  src: url('../../public/fonts/LINESeedKR/LINESeedKR-Rg.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'line-seed';
  src: url('../../public/fonts/LINESeedKR/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'JosefinSlab';
  src: url('../../public/fonts/JosefinSlab/JosefinSlab-VariableFont_wght.ttf')
    format('woff2');
  font-weight: 700;
}

.product-detail-container {
  width: 100%;
  height: 100%;
}

.product-carousel-slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center;
  text-align: center;
  padding-left: 40px;
}

.product-detail-text {
  height: auto;
  margin: 0 auto;
  padding: 50px 30px 30px 20px;
}
.product-car-name {
  font-family: 'JosefinSlab';
  color: black;
  font-size: 40px;
  padding-left: 50px;
}

.product-car-description {
  font-family: 'LINESeedKR-Rg';
  color: black;
  font-size: 20px;
  padding-left: 50px;
  padding-top: 30px;
}

.product-car-imgcontainer {
  width: 100%;
  height: 100%;
}

.product-carousel-img {
  width: 100%;
  height: auto; /* 비율 유지 */
  /* max-height: 100%; */
  object-fit: cover;
  object-position: bottom;
}

.product-car-price {
  width: 100%;
  text-align: right;
  font-family: 'LINESeedKR-Bd';
  color: black;
  font-size: 18px;
  right: 20px;
  bottom: 30px;
  position: absolute;
}

@media (min-width: 403px) and (max-width: 744px) {
  .product-car-description {
    width: 690px;
  }
  .product-carousel-img {
    width: 100%;
  }
  .product-carousel-slide {
    padding: 0px;
  }
  .product-car-name {
    font-size: 30px;
    padding-left: 40px;
  }

  .product-car-description {
    font-size: 16px;
    padding-left: 40px;
    padding-top: 30px;
    width: 80%;
  }
}

@media (max-width: 403px) {
  .product-car-description {
    width: 380px;
  }
  .product-carousel-img {
    width: 100%;
  }
  .product-carousel-slide {
    padding: 0px;
  }
  .product-car-name {
    font-size: 30px;
    padding-left: 20px;
  }

  .product-car-description {
    font-size: 14px;
    width: 90%;
    padding-left: 20px;
  }
}
