@font-face {
  font-family: 'Danfo';
  src: url('../../public/fonts/Danfo/Danfo-Regular-VariableFont_ELSH.ttf')
    format('woff2');
  font-weight: 100;
}

@font-face {
  font-family: 'JosefinSlab';
  src: url('../../public/fonts/JosefinSlab/JosefinSlab-VariableFont_wght.ttf')
    format('woff2');
  font-weight: 700;
}

.footer-container {
  width: auto;
  height: 74px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  margin: 64px 30px 70px 30px;
  background-color: #fffbf1;
}

.footer-info {
  font-family: 'JosefinSlab';
  display: flex;
  margin: 20px 0px 0px 10px;
  color: #423522;
}

.footer-logo {
  display: flex;
  margin-right: 50px;
}

.footer-icon-logo {
  width: 34px;
  height: 34px;
  margin-top: 10px;
}

.footer-logo-title {
  font-family: 'Danfo';
  font-size: 35px;
  margin: 0 0 15px 5px;
  color: #423522;
}

.icon-sns {
  display: flex;
  margin: 20px 10px 0 0;
  gap: 5px;
}

.icon-sns img {
  width: 20px;
  height: 20px;
}
