@font-face {
  font-family: 'Danfo';
  src: url('../../public/fonts/Danfo/Danfo-Regular-VariableFont_ELSH.ttf')
    format('woff2');
  font-weight: 100;
}

@font-face {
  font-family: 'JosefinSlab';
  src: url('../../public/fonts/JosefinSlab/JosefinSlab-VariableFont_wght.ttf')
    format('woff2');
  font-weight: 700;
}

.footer-container {
  width: 96%;
  height: 74px;
  display: flex;
  margin-top: 30px;
  margin-bottom: 60px;
  justify-content: space-between;
  border-top: 1px solid black;
  background-color: #fffbf1;
}

.footer-info {
  font-family: 'JosefinSlab';
  display: flex;
  margin: 20px 0px 0px 10px;
  color: #423522;
}

.footer-logo {
  display: flex;
  margin-right: 50px;
}

.footer-icon-logo {
  width: 55%;
  height: 55%;
  margin-top: 4px;
}

.footer-logo-title {
  font-family: 'Danfo';
  font-size: 35px;
  margin: 0 0 15px 5px;
  color: #423522;
}

.icon-sns {
  display: flex;
  margin: 20px 10px 0 0;
  gap: 5px;
}

.icon-sns img {
  width: 20px;
  height: 20px;
}

@media (max-width: 744px) {
  .footer-container {
    width: 88%;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .footer-info {
    margin: 20px 0;
    justify-content: space-between;
  }

  .footer-logo {
    margin-bottom: 10px;
    margin-left: auto;
  }

  .footer-info-text {
    justify-content: space-between;
  }

  .icon-sns {
    margin-left: auto;
  }
}
