.container {
  width: 100%;
  height: 300vh;
}

.video-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: rgb(148 163 184);
}

.index-video {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.black-section {
  width: 100%;
  height: 200vh;
  background-color: black;
}

.green-box {
  height: 100vh;
  background-color: rgb(34 197 94);
  margin: auto;
  position: sticky;
  top: 0;
  transition: all 0.3s;
  overflow: hidden;
  z-index: 10;
  background-size: cover;
  background-position: center;
}

.green-box h2 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.red-box {
  width: 100%;
  height: 100vh;
  background-color: rgb(248 113 113);
  padding: 6rem;
  text-align: center;
}

.red-box h2 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  opacity: 0;
  transition: all;
}

.red-box h2.visible {
  opacity: 1;
}
