@import url('https://fonts.googleapis.com/css2?family=Danfo&display=swap');

body {
    margin: 0 auto;
    font-family: 'LINE Seed Sans KR', sans-serif;
    color: #423522;
    background-color: #FFFBF1;
}

/* 헤더 컴포넌트 */
.header-container {
    min-width: 1440px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 0 0 40px;
    border-bottom: 1px solid black;
}

.go-list {
    width: 28px;
    height: 28px;
    margin-top: 45px;
}

.logo-title {
    text-align: center;
}

.logo-link {
    font-family: 'Danfo';
    font-size: 60px;
    color: #423522;
    text-decoration: none;
}

.logo-link:hover {
  color: #423522
}

.go-profile {
    width: 28px;
    height: 28px;
    display: flex;
    margin-left: auto;
    margin-top: 45px;
}

/* 로그인폼 컴포넌트 */
.login-form {
    min-width: 1440px;
    height: 953.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.int-area {
    width: 371px;
    height: 72.97px;
    position: relative;
    margin: 3px;
    cursor: text;
}

.int-area input:focus + label,
.int-area input:valid + label {
    opacity: 0;
    transform: translateY(-150%);
}

.int-area input:hover + label {
    opacity: 0;
    transform: translateY(-150%);
}

#name-input, #password-input {
    width: 100%;
    height: 72.97px;
    border: none;
    border-bottom: 1px solid black;
    color: #423522;
    font-size: 20px;
    background: none;
    outline: none;
}

#id, #pw {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 20px;
    font-weight: 200;
}

#btn-login {
    width: 375px;
    height: 55.69px;
    margin-top: 47px;
    border: none;
    font-size: 20px;
}

.login-active {
    background-color: #423522;
  }
  
  .login-inactive {
    background-color: #757575;
    color: white;
  }

#register {
    width: 375px;
    margin-top: 5px;
}



