body {
    margin: 0 auto;
    font-family: 'LINE Seed Sans KR', sans-serif;
    color: #423522;
    background-color: #FFFBF1;
}

.login-form {
    min-width: 1440px;
    height: 953.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.int-area {
    width: 371px;
    height: 72.97px;
    position: relative;
    margin: 3px;
    cursor: text;
}

.int-area input:focus + label,
.int-area input:valid + label {
    opacity: 0;
    transform: translateY(-150%);
}

.int-area input:hover + label {
    opacity: 0;
    transform: translateY(-150%);
}

#name-input, #password-input {
    width: 100%;
    height: 72.97px;
    border: none;
    border-bottom: 1px solid black;
    color: #423522;
    font-size: 20px;
    background: none;
    outline: none;
}

#id, #pw {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 20px;
    font-weight: 200;
}

#btn-login {
    width: 375px;
    height: 55.69px;
    margin-top: 47px;
    border: none;
    font-size: 20px;
}

.login-active {
    background-color: #423522;
  }
  
  .login-inactive {
    background-color: #757575;
    color: white;
  }

#register {
    width: 375px;
    margin-top: 5px;
}



