@font-face {
  font-family: 'line-seed';
  src: url('../../public/fonts/LINESeedKR/LINESeedKR-Th.woff2') format('woff2');
  font-weight: 100;
}
@font-face {
  font-family: 'line-seed';
  src: url('../../public/fonts/LINESeedKR/LINESeedKR-Rg.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'line-seed';
  src: url('../../public/fonts/LINESeedKR/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'JosefinSlab';
  src: url('../../public/fonts/JosefinSlab/JosefinSlab-VariableFont_wght.ttf')
    format('woff2');
  font-weight: 700;
}

body {
  background-color: #fffbf1;
}

div {
  margin: 0 auto;
}

.product-img-container {
  width: auto;
  background-color: #fffbf1;
  margin-top: 48px;
  display: flex;
}

.product-list-container {
  width: auto;
  height: 400px;
  margin: 68px 60px;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 90px;
  justify-content: center;
}

.product-list-title {
  margin: 70px auto 0; /* 위 여백, 좌우 자동 중앙 정렬 */
  height: 60px;
  text-align: center;
  font-family: 'JosefinSlab';
  font-size: 24px;
  color: black;
  border-bottom: black solid 1px;
  max-width: 1368px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*디테일 이미지 캐러셀 모달*/
.product-detail-modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: linear-gradient(to top, #aa9f84 20%, #fffbf1 60%);
  width: 80%;
  height: 100%;
  max-width: 1400px;
  position: absolute;
  right: 0;
}

.close-modal-btn {
  position: absolute;
  right: 0px;
  font-size: 32px;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  padding: 32px;
}
