@font-face {
    font-family: 'line-seed';
    src: url('/fonts/LINESeedKR/LINESeedKR-Th.woff2') format('woff2');
    font-weight: 100;
  }
  @font-face {
    font-family: 'line-seed';
    src: url('/fonts/LINESeedKR/LINESeedKR-Rg.woff2') format('woff2');
    font-weight: 400;
  }
  @font-face {
    font-family: 'line-seed';
    src: url('/fonts/LINESeedKR/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
  }

  @font-face {
    font-family: 'PaytoneOne';
    src: url('/fonts/PaytoneOneRegular/PaytoneOneRegular.woff2') format('woff2');
    font-weight: normal;
  }

  
  :root {
    --main-color: #423522;
    --sub-color: #fffbf1;
  }
  
  body {
    background-color: var(--sub-color);
    color: var(--main-color);
  }
  
  .productreservation-midtitle {
    font-family: PaytoneOne;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    margin: 5rem 0 1rem 0;
  }
  