@font-face {
  font-family: 'line-seed';
  src: url('/fonts/LINESeedKR/LINESeedKR-Th.woff2') format('woff2');
  font-weight: 100;
}
@font-face {
  font-family: 'line-seed';
  src: url('/fonts/LINESeedKR/LINESeedKR-Rg.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'line-seed';
  font-weight: 700;
  src: url('/fonts/LINESeedKR/LINESeedKR-Bd.woff2') format('woff2');
}

@font-face {
  font-family: 'Danfo';
  src: url('../../public/fonts/Danfo/Danfo-Regular-VariableFont_ELSH.ttf')
    format('woff2');
  font-weight: 100;
}

.detail-box {
  max-width: 96%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1em;
  font-family: 'line-seed';
  font-weight: 400;
  color: #423522;
  background-color: #fffbf1;
  box-sizing: border-box;
  overflow: hidden;
}

@media only screen and (min-width: 64em) {
  .detail-box {
    max-width: 64em;
  }
}

/* 상품 스펙 */

.detail-container h1,
.detail-container h2,
.detail-container h3 {
  text-transform: uppercase;
  color: #423522;
  letter-spacing: 2px;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.detail-container ul {
  list-style: none;
}

.detail-container {
  width: 100%;
  height: auto;
  display: grid;
  justify-items: center;
  place-items: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  max-width: 1300px;
  min-height: 100vh; /* 높이를 100vh로 설정하여 화면에 맞게 조정 */
  max-height: 750px; /* max-height는 필요에 따라 조정 */
  position: relative;
  margin-top: 3em;
  margin-bottom: 3em;
  overflow: hidden;
  border-radius: 20px;
  background: rgba(192, 166, 138, 0.25);
}

.bkg {
  width: 100%;
  height: 100%;
  background: rgba(192, 166, 138, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  clip-path: url('#wrapMask');
}

.detail-header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  left: 0;
  top: 0;
  margin: 1em;
  z-index: 4;
}

.detail-header svg {
  width: 18px;
  stroke: #f0f0f0;
  stroke-width: 2;
  stroke-linecap: round;
  fill: none;
}

.detail-go-options {
  display: grid;
  grid-template-columns: 1fr 7%;
  justify-content: right;
  text-align: right;
  margin: 0;
}

.detail-go-options p {
  color: #423522;
  font-size: 13px;
  font-weight: 700;
  line-height: 0%;
  margin-right: 0.5em;
  text-decoration: none !important;
}

.options-icon {
  text-align: right;
}

.detail-go-list:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.2);
}

.detail-go-options p:hover {
  text-decoration: underline !important;
  text-decoration-color: #423522;
}

.options-icon:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.2);
}

.panel {
  width: 90%;
  height: 100%;
  display: grid;
  place-items: center;
  position: relative;
}

.panel img#radian-model {
  width: 80%;
  height: auto;
  position: absolute;
  left: 35%;
  bottom: -50em;
  transform: translateX(-50%);
  z-index: 10;
}

.panel h1#panel-h1 {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-top: 2em;
  transform: translateX(-50%);
  font-size: 6rem;
  opacity: 1;
  z-index: 9;
}

.panel-intro {
  position: absolute;
  top: 20%;
  left: 50%;
  margin-top: 1em;
  text-align: center;
  transform: translateX(-50%);
  opacity: 1;
  z-index: 6;
}

.panel-intro-h1 {
  font-size: 1.5rem;
}

.panel-intro-h3 {
  margin-top: -16px;
  font-size: 1rem;
}

#panel-logo {
  width: 40px;
  opacity: 0.6;
}

.specs,
.chars {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  position: absolute;
  top: 20%;
  padding: 0.5em;
  margin-right: 10em;
  margin-top: 2em;
  z-index: 20;
}

.specs h2,
.chars h2 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin-top: 2em;
  color: #4b4b4b;
  font-size: 1em;
  font-weight: 700;
  text-shadow: none;
}

.specs dl,
.chars dl {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin-top: 2em;
  font-weight: 700;
}

.specs dl:nth-child(2),
.chars dl:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.specs dl dt,
.chars dl dt {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.specs dl dd,
.chars dl dd {
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: gray;
}

.panel-outro {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: 40%;
  text-align: center;
  gap: 0;
  transform: translateX(-50%);
  z-index: 30;
}

.panel-outro-h2 {
  font-size: 3rem;
  font-weight: 700;
}

.panel-outro-p {
  font-size: 1.7rem;
  font-weight: 700;
  color: gray;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.panel-outro-btn {
  width: 140px;
  height: 50px;
  margin: 10px 0;
  margin-top: 60px;
  padding: 5px 10px;
  border: 1px solid rgb(155, 155, 155);
  border-radius: 10px;
  background: #423522;
  outline: none;
  cursor: pointer;
  color: #e0e0e0;
  font-size: 1.5rem;
}

.panel-outro-btn:hover {
  transition: transform 0.3s ease-in-out !important;
  transform: scale(1.2) !important;
}

#mask {
  display: block;
  position: absolute;
  z-index: 40;
}

@media (max-width: 1440px) {
  .detail-container {
    max-height: 800px;
    overflow-y: hidden;
  }
}

@media (max-width: 1020px) {
  .detail-header div {
    margin-right: 2em;
  }

  .panel h1#panel-h1 {
    font-size: 5rem;
  }

  .panel img#radian-model {
    width: 90%;
  }

  .specs,
  .chars {
    width: 40%;
  }

  .specs {
    margin-left: 450px;
  }

  .chars {
    margin-right: 600px;
  }

  .specs h2,
  .chars h2 {
    font-size: 12px;
  }

  .specs dl dt,
  .chars dl dt {
    font-size: 10px;
  }

  .specs dl dd,
  .chars dl dd {
    font-size: 0.5rem;
  }

  .panel-outro {
    margin-top: 85%;
  }

  .panel-outro-h2 {
    font-size: 2rem;
  }

  .panel-outro-btn {
    font-size: 1rem;
  }
}

/* 추가가정보 */
hr {
  width: 100%;
  margin: 0.5em auto;
  border: none;
  border-bottom: 1px solid #423522;
}

.hr-double-top, .hr-double-bottom {
  height: 0.125em;
  margin: 0.5em auto;
  border-top: 0.1875em solid #423522;
  border-bottom: 1px solid #423522;
}

.hr-double-bottom {
  border-top: 1px solid #423522;
  border-bottom: 0.1875em solid #423522;
}

 .newspaper-topheader {
  width: 100%;
}

.newspaper-topheader figcaption {
  margin: 0.375em 0.5em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.625rem;

  @media only screen and (min-width: 48em) {
    letter-spacing: 0.3125em;
    font-size: 0.875rem;
  }

  @media only screen and (min-width: 60em) {
    font-size: 1rem;
  }
}

.newspaper-exclusive-box {
  display: inline-block;
  margin: 0.16667em 0;
  padding: 0.08333em 0.33333em;
  background-color: #423522;
  color: #fffbf1;
  font-weight: 700;
  font-size: 2rem;

  @media only screen and (min-width: 48em) {
    width: 22%;
  }

  @media only screen and (min-width: 64em) {
    font-size: 3rem;
  }
}

.newspaper-menu {
  padding: 0.5em;
  font-weight: normal;
  border: 0.125em solid #423522;
}

.newspaper-menu a {
  background-color: #fffbf1;
  color: #423522;
}

.newspaper-menu a:hover, .newspaper-menu a:focus, .newspaper-menu a:active {
  text-shadow: 2px 0 0 #FBB03B;
}

.newspaper-menu a:hover span {
  text-shadow: none;
  background-color: #FBB03B;
  color: #423522;
}

.newspaper-menu-index {
  margin: 0.25em 0 0 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.newspaper-menu-index li {
  display: inline-block;
  margin: 0 3.2% 0.25em 0;
}

.newspaper-menu-index span {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  position: relative;
  top: -1px;
  margin: -0.25em 0 0 1em;
  padding: 0.25em 0 0 0;
  font-weight: 700;
  color: #fffbf1;
  line-height: 1;
  background-color: #423522;
  text-align: center;
  border-radius: 0.75em;
}

@media only screen and (min-width: 60em) {
  .newspaper-menu-index {
    display: grid;
    grid-template-columns: repeat(8, auto);
    gap: 1em;
  }

  .newspaper-menu-index li {
    margin: 0;
  }
}

.newspaper-articles {
  display: block;
  margin: 0 auto;
  padding: 0.25em 0.5em 0.5em 0.5em;
  border: 1px solid #423522;
}

@media only screen and (min-width: 48em) {
  .newspaper-articles {
    max-width: 1200px;
    margin: 1em auto;
    padding: 0 1em;
  }
}

.newspaper-toparticle {
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 2em;
}

.fittext-toparticle-h1-1{
  margin: 0;
  font-weight: 400;
  font-size: 2.875rem;
}

@media only screen and (min-width: 48em) {
  .fittext-toparticle-h1-1 {
    width: 100%;
    font-size: 7.5rem;
  }
}

.newspaper-toparticle + hr {
  width: 90%;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #423522;
}

.newspaper-toparticle-starttext p {
  font-size: 0.875rem;
  line-height: 1.25;
}

.newspaper-toparticle-starttext p ~ p {
  text-indent: 1em;
}

.newspaper-toparticle-starttext .newspaper-articles-ingress {
  font-size: 0.9375rem;
  line-height: 1.15;
}

@media only screen and (min-width: 48em) {
  .newspaper-toparticle-starttext {
    display: block;
    margin: 0 0 1em 0;
  }
}

.newspaper-toparticle-story {
  width: 100%;
}

.introduce-img {
  width: 100%;
  height: auto;
  opacity: 0.6;
}

.newspaper-toparticle-story h2 {
  position: relative;
  margin: -0.125em 0em  -0.1875em 0em;
  padding-top: 0.5em;
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  font-size: 2rem;
}

@media only screen and (min-width: 40em) {
  .newspaper-toparticle-story h2 {
    padding-top: 0;
  }
}

.newspaper-toparticle-story h2 span {
  display: inline-block;
  position: absolute;
  left: 0;
  color: #fffbf1;
  background-color: #423522;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 1px;
}

@media only screen and (min-width: 48em) {
  .newspaper-toparticle-story h2 span {
    font-size: 12px;
    font-size: 0.75rem;
  }
}

@media only screen and (min-width: 60em) {
  .newspaper-toparticle-story h2 span {
    font-size: 16px;
    font-size: 1rem;
  }
}

.newspaper-toparticle-final {
  width: 100%;
  display: block;
  margin-top: 2em;
}

.newspaper-toparticle-final h1 {
  padding: 0.25em 0em 0.125em 0em;
  text-align: center;
  background-color: #423522;
  color: #fffbf1;
  font-size: 2rem;
}

.newspaper-toparticle-final h1 span {
  display: block;
  font-size: 0.75rem;
}

.newspaper-toparticle-aside p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.25;
  padding: 0em 0.57143em  0em 0em;
}

@media only screen and (min-width: 48em) {
  .newspaper-toparticle-final {
    padding: 0 0.5em 0 0;
  }
}

@media only screen and (min-width: 60em) {
  .newspaper-toparticle-final {
    padding: 0 0.125em 0 0.5em;
  }
}

.horizontal-scroll-wrapper {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.img-wrapper {
  width: 100%;
  text-align: center;
}

.safety-build-btn {
  width: 100%;
  height: auto;
  border: 1px solid rgb(155, 155, 155);
  border-radius: 10px;
  background: #423522;
  outline: none;
  cursor: pointer;
  color: #e0e0e0;
  font-size: 1.5rem;
}